body {

	background-color: lightblue;
}

.titulo {

	background-color: white;
	width: 100%;
}

nav > ul > li{

	display: inline;
	text-align: center;

	
	
}

ul {

	background-color: transparent;
	border-radius: 18px;
	margin: 0.5rem;
	padding: 0.5rem;
	text-align: center;


}



 a {

 	width: 80%;
	text-transform: uppercase;
	color: blue;
	font-weight: bold;
	font-size: 22px;
    text-decoration: none;

}


a:hover {
		color: black;
		text-decoration: underline;
}

h1{

	font-size: 1.8rem;
	text-align: center;
}

.imagem-1 {


	width: 90%;
	margin: 1.0rem;
}

.titulo-1 {

	text-align: center;
	margin: 0.9rem;
	font-size: 1.8rem;
}

.alura {

	text-align: center;
	margin: 0.5rem;
}

.botao {

	text-align: center;
}



@media screen and (min-width: 1200px) {

h1{

	font-size: 1.8rem;
	text-align: center;
}

.decodificador {

	text-align: center;
}

.imagem-1 {


	width: 50%;
}


.titulo-1 {

	text-align: center;
	margin: 0.5rem;
	font-size: 1.5;

}
.alura {

	text-align: center;
	margin: 0.5rem;
}

.botao {

	text-align: center;
	
}




}